* {
  box-sizing: border-box;
}

.body {
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: sans-serif;
  background: #8987d1;
}

body, html, #root, .outer {
  width: 100%;
  height: 100%;
}

.outer {
  display: flex;
  justify-content: center;
  height: calc(100% - 56px);
  text-align: left;
  background: #8987d1;
}

@media (max-width: 500px) {
  .inner {
    width: 95vw;
    overflow-y: auto;
    margin: auto;
    background: #ffffff;
    padding: 2% 5% 2% 5%;
    border-radius: 15px;
    transition: all .3s;
  }
}

@media (min-width: 500px) and (max-width: 900px) {
  .inner {
    width: 90vw;
    overflow-y: auto;
    margin: auto;
    background: #ffffff;
    padding: 2% 5% 2% 5%;
    border-radius: 15px;
    transition: all .3s;
  }
}

@media (min-width: 900px) {
  .inner {
    width: 75vw;
    overflow-y: auto;
    margin: auto;
    background: #ffffff;
    padding: 2% 5% 2% 5%;
    border-radius: 15px;
    transition: all .3s;
  }
}

.outer .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.outer h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 14px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.center {
  width: 75px;
  height: 75px;
  margin-top: 0;
  margin-left: 46%;
}